@import "input.css";

body {
  background-color:rgb(221, 221, 221);

}
.calc-box {
  border-radius: 20px;
  border-bottom-right-radius: 80px;
  width: 470px;
  height: 400px;
  padding: 30px;
  margin: 100px auto;
  background-color: rgb(255, 255, 255);
  color: blue;
  
}

