@import "fonts.css";

.result {
  padding-left: 30px;
  margin-left: 0;

}

.output p{
  font-size: 60px;
  font-family: resultFont;
  color: rgb(138, 90, 205);
  letter-spacing: 4px;
  line-height: 5px;
}

.label {
  font-size: 60px;
  padding-left: 20px;
  margin: 10px auto;
  font-family: resultFont;
  color: black;
  line-height: 5px;
}